<a href="https://colab.research.google.com/github/FIROZ-N/DSA-2025/blob/main/Python_Case_Study_Firoz_Muhammed_N_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

dt = pd.read_csv("pp.csv")
js = pd.read_json("iu.json")

dt = dt.rename(columns={"country": "Country"})
dt = dt.rename(columns={"population": "Population"})
js = js.rename(columns={"country": "Country", "internet_users": "Internet_Users"})
dt = dt.drop_duplicates()
dt["Population"] = dt["Population"].fillna(dt["Population"].mean())

#Merging dt and js
mrg = pd.merge(dt, js, on="Country")
mrg["Intrenet_penetration"] = (mrg["Internet_Users"] / mrg["Population"]) * 100


print(dt.head(5))
print("-----------------------------------------------------------------")
print(mrg)

hip = mrg.loc[mrg["Intrenet_penetration"].idxmax()]
print(hip["Country"], end=" : ")
print(hip["Intrenet_penetration"])

         Country  Population
0  United States  1278642419
1          China   792846414
2          India  1001406378
3          Japan  1206263687
4        Germany   428734972
-----------------------------------------------------------------
           Country  Population  Internet_Users  Intrenet_penetration
0    United States  1278642419       745595490             58.311493
1            China   792846414       685275917             86.432366
2            India  1001406378       606850704             60.599844
3            Japan  1206263687      1112451555             92.222917
4          Germany   428734972       246827121             57.571026
5           Russia   420968276       162156967             38.519997
6           Brazil   675094950        24027075              3.559066
7   United Kingdom   674991378       266047041             39.414880
8           France   434389014       216417853             49.821208
9            Italy   254467210        87191493             34.264333
10          Canada  1438267572       894102645             62.165251
11       Australia   439285667       201619113             45.897039
12     South Korea   618608295       291770691             47.165661
13           Spain   898664919       794943861             88.458317
14          Mexico   653061058       135489564             20.746845
15       Indonesia    93409749         4584702              4.908162
16          Turkey   247285876       128924625             52.135863
17    Saudi Arabia   958477463       108944665             11.366429
18       Argentina  1432830251       421477197             29.415710
19    South Africa   916989541       739194223             80.610976
Japan : 92.22291667974251

In [4]:
import pandas as pd

dt = pd.read_excel("gdp.xlsx")
dt = dt.drop_duplicates()
dt["GDP"] = dt["GDP"].fillna(dt["GDP"].mean())

print(dt)

           Country             GDP
0    United States  10450436373455
1            China   5086547998939
2            India  14540718118693
3            Japan  12473835857216
4          Germany   2038442396490
5           Russia  10987125474745
6           Brazil   8793052816619
7   United Kingdom  11799848684255
8           France   7758669752269
9            Italy  12907234326850
10          Canada   8158351525190
11       Australia   5444267975247
12     South Korea   6562909541266
13           Spain  15275513099842
14          Mexico   2775281278756
15       Indonesia  12404144955318
16          Turkey   2581127745611
17    Saudi Arabia   8855399647233
18       Argentina   8767336567320
19    South Africa   3328747361982

In [5]:
import pandas as pd

dt = pd.read_json("iu.json")
dt = dt.rename(columns={"country": "Country", "internet_users": "Internet_Users"})
dt = dt.drop_duplicates()
dt["Internet_Users"] = dt["Internet_Users"].fillna(dt["Internet_Users"].mean())

print(dt)

           Country  Internet_Users
0    United States       745595490
1            China       685275917
2            India       606850704
3            Japan      1112451555
4          Germany       246827121
5           Russia       162156967
6           Brazil        24027075
7   United Kingdom       266047041
8           France       216417853
9            Italy        87191493
10          Canada       894102645
11       Australia       201619113
12     South Korea       291770691
13           Spain       794943861
14          Mexico       135489564
15       Indonesia         4584702
16          Turkey       128924625
17    Saudi Arabia       108944665
18       Argentina       421477197
19    South Africa       739194223

In [6]:
import pandas as pd

dt = pd.read_xml("lr.xml")
dt = dt.rename(columns={"name": "Country", "literacy_rate": "Literacy_Rate"})
dt = dt.drop_duplicates()
dt["Literacy_Rate"] = dt["Literacy_Rate"].fillna(dt["Literacy_Rate"].mean())

print(dt)

           Country  Literacy_Rate
0    United States           72.7
1            China           82.2
2            India           80.3
3            Japan           97.5
4          Germany           92.9
5           Russia           89.1
6           Brazil           81.0
7   United Kingdom           82.9
8           France           97.6
9            Italy           83.7
10          Canada           70.8
11       Australia           71.6
12     South Korea           66.4
13           Spain           60.6
14          Mexico           76.5
15       Indonesia           75.4
16          Turkey           71.4
17    Saudi Arabia           60.5
18       Argentina           67.8
19    South Africa           87.7

In [7]:
# Merging Dataset based o country name
import pandas as pd

# Load
gd = pd.read_excel("gdp.xlsx")
iu = pd.read_json("iu.json")
lr = pd.read_xml("lr.xml")
pp = pd.read_csv("pp.csv")

#Standardizing
iu = iu.rename(columns={
    "country": "Country",
    "internet_users": "Internet_Users"
})
pp = pp.rename(columns={
    "country": "Country",
    "population": "Population"
})
lr = lr.rename(columns={
    "name": "Country",
    "literacy_rate": "Literacy_Rate"
})


#Merging
mrg0 = pd.merge(gd, iu, on="Country")
mrg1 = pd.merge(mrg0, pp, on="Country")
mrg = pd.merge(mrg1, lr, on="Country")

#penetration rate
mrg["Pen_Rate"] = mrg.apply(
    lambda row: (row["Internet_Users"]/ row["Population"]) * 100 if row["Population"] > 0 else 0, axis=1
)

hh = mrg.loc[mrg["Pen_Rate"].idxmax()]
hgdp = mrg.loc[mrg["GDP"].idxmax()]
hgpp = mrg.loc[mrg["Population"].idxmax()]
hglr = mrg.loc[mrg["Literacy_Rate"].idxmax()]
hgiu = mrg.loc[mrg["Pen_Rate"].idxmax()]

print("High GDP : ",hgdp["Country"], hgdp["GDP"])
print("High Population : ",hgpp["Country"], hgpp["Population"])
print("High Literacy Rate : ",hglr["Country"], hglr["Literacy_Rate"])
print("High Internet Usage : ",hh["Country"], hh["Pen_Rate"])

rlt = mrg[["GDP", "Population", "Literacy_Rate", "Pen_Rate"]].corr()
print(rlt)


avg_ltr = mrg["Literacy_Rate"].mean()

print("Average Literacy Rate : ",avg_ltr)

High GDP :  Spain 15275513099842
High Population :  Canada 1438267572
High Literacy Rate :  France 97.6
High Internet Usage :  Japan 92.22291667974251
                    GDP  Population  Literacy_Rate  Pen_Rate
GDP            1.000000    0.183118      -0.081700  0.002893
Population     0.183118    1.000000      -0.229585  0.358533
Literacy_Rate -0.081700   -0.229585       1.000000  0.235330
Pen_Rate       0.002893    0.358533       0.235330  1.000000
Average Literacy Rate :  78.43

In [10]:
mat = mrg["Literacy_Rate"].corr(mrg["Pen_Rate"])
print(mat)

0.23533009202707547

In [22]:
high_gdp = mrg[mrg["GDP"] > 10000]

for idx, row in high_gdp.iterrows():
  print(row['Country'], end=" : ")
  print(row['GDP'])

United States : 10450436373455
China : 5086547998939
India : 14540718118693
Japan : 12473835857216
Germany : 2038442396490
Russia : 10987125474745
Brazil : 8793052816619
United Kingdom : 11799848684255
France : 7758669752269
Italy : 12907234326850
Canada : 8158351525190
Australia : 5444267975247
South Korea : 6562909541266
Spain : 15275513099842
Mexico : 2775281278756
Indonesia : 12404144955318
Turkey : 2581127745611
Saudi Arabia : 8855399647233
Argentina : 8767336567320
South Africa : 3328747361982

In [30]:
sm = mrg["Population"].sum()
print("Total Population : ", sm)

Total Population :  14864685089

In [43]:
ll = mrg.sort_values("Literacy_Rate").head(5)
print(ll[["Country", "Literacy_Rate", "Pen_Rate"]])

         Country  Literacy_Rate   Pen_Rate
17  Saudi Arabia           60.5  11.366429
13         Spain           60.6  88.458317
12   South Korea           66.4  47.165661
18     Argentina           67.8  29.415710
10        Canada           70.8  62.165251

In [53]:
ll = mrg.sort_values("Literacy_Rate", ascending=False)
print(ll[["Country", "Literacy_Rate", "Population"]].head(5))

         Country  Literacy_Rate  Population
8         France           97.6   434389014
3          Japan           97.5  1206263687
4        Germany           92.9   428734972
5         Russia           89.1   420968276
19  South Africa           87.7   916989541